{% extends "base.html" %}
{% block content %}


<div class="container">
	<div class="row vertical-offset-100">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1 class="panel-title center">About Us</h1>
				</div>
				<div class="panel-body">
					<div class="col-lg-12 center">
						<img src="/static/images/imgkee_logo.jpg">
					</div>
						<div class="col-md-4 col-offset-6">
							<h3 class="center">About ImgKee</h3>
							<p>imgKee addresses the problem of password security in a previously unimaginable manner, substituting a picture in place of a text password. The picture is converted to binary on our backend then hashed and stored as a password would be, making anything secured by imgKee virtually impervious to bruteforce dictionary attacks and the like. </p>
						</div>
						<div class="col-md-4 col-offset-4">
							<h3 class="center">About Us</h3>
							<p>The imgKee team is Ryan Kuhl, Preston Hamlin, Sam Spear, and Daniel Timpone who came together and made this project for their Software Engineering course. They really hope they get a good grade on this project.</p>
						</div>
						<div class="col-md-4 col-offset-4">
							<h3 class="center">We Like Money</h3>
							<p>As much as we like good grades, we like money even more. So if your pockets are feeling a little heavy and you want to be a part of a guranteed security revolution, send your donations to giveusyourmoney@imgKee.io </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}