Welcome to imgKee

Welcome to imgKee's documentation. This document will be divided into several distinct parts, namely <a href="#">imgKee functionality and implementation</a> the <a href="#">uniQ Tool</a> and lastly the imgKee <a href="#">Authentication Gateway</a>. imgKee currently depends on the Flask micro framework, along with Jinja 2 and Flask-Login. 

User's Guide

This part of the documentation, which is mostly prose, begins with some background information about imgKee, then focuses on step-by-step instructions for authentication with imgKee.
<ul>
	<a href="#">Foreword</a>
		<ul>
				
		</ul>

	<a href="#">Instillation</a>

	<a href="#">Quickstart</a>

	<a href="#">Tutorial</a>

	<a href="#">Testing imgKee Authentication</a>

	<a href="#">Templates</a>
</ul>