{% extends "base.html" %}
{% block content %}
<div class="container">
	<div class="row vertical-offset-100">
		<div class="col-md-4 col-md-offset-4">
			<div class="panel panel-default">
				
				<div class="panel-body">
					<form accept-charset="UTF-8" role="form">
					<div class="panel-heading">
						<h3 class="panel-title">Please sign in</h3>
					</div>	
						<fieldset>
							<div class="form-group">
								<input class="form-control" placeholder="Username" name="email" type="text">
							</div>
							<div class="form-group">
								<span class="btn btn-default btn-file">Choose imgKee<input class="form-control" placeholder="upload image" type="file">
								</span>
							</div>
							<div class="checkbox">
								<label>
									<input name="remember" type="checkbox" value="Remember Me"> Remember Me
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input name="uniQ" type="checkbox" value="uniQ"> uniQ
								</label>
							</div>
							<input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
<!-- 
<script type="text/javacript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
Latest compiled and minified JavaScript
<script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
 -->